{% extends 'base.html' %}
{% block title %}Проект{% endblock %}

{% block content %}
    <div class="card m-4">
      <div class="card-header">
        Автор: {{ article.user }}
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ article.title }}</h3>
        <p class="card-text">{{ article.text }}</p>
        <a href="{% url 'article_update' article.pk %}" class="btn btn-primary">Редактировать</a>
          <div class="btn-group float-right">
          <button class="btn btn-secondary btn-sm dropdown-toggle bg-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Оценки
          </button>
          <div class="dropdown-menu btn btn-primary">
            {% for rating in article.rate_article.all %}
                <p>{{ rating.user }} - {{ rating.status }}</p>
                {% empty %}
                    <p>нет оценок</p>
            {% endfor %}
          </div>
     </div>
      </div>
    </div>

    <hr>
    <h5>Комментарии</h5>
    <hr>
    {% for comment in article.comments.all %}
        {% if not comment.parent_comment %}
            <div class="row">
                <div class="col-md-4">
                    <p>{{ comment.user }}</p>
                    <p>{{ comment.text }}</p>
                    <p>{{ comment.date_created }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    {% for sub_comment in comment.comments.all %}
                        <p>{{ sub_comment.user }}</p>
                        <p>{{ sub_comment.text }}</p>
                        <p>{{ sub_comment.date_created }}</p>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
